*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-image: url(img/background.jpg);
    background-size: cover;
    font-family:"ITC Benguiat Bold Condensed";
}

header{
    height: 150px;
    width: 100%;
      position: sticky;   /* or fixed */
  top: 0;
  z-index: 1000;
  padding-left: 50px;

  background: rgba(18, 21, 23, 0.45); /* transparent bg */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  border-bottom: 1px solid rgba(255,255,255,0.08);
  display: flex;
  gap: 100px;
}
.logos{
    display: flex;
    flex-direction: row ;
    gap: 60px;  
    align-items: center;
}
.logos h1{
    font-size: 100px;
    color: rgb(255, 255, 255);
}
.logos img{
    width: 250px;
    height: 120px;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 600px      ;
}
nav a{
    opacity: 0.6;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
nav a:hover{
    opacity: 1.5;
}
nav a.active{
    opacity: 1.5    ;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.login_container{
    height: 700px;
    width: 600px;
     background: rgba(18, 21, 23, 0.45);
      backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 50px;
}
.signing h1{
    width: 400px;
    color: rgb(255, 255, 255);
}
.signing{
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: 35px;
    gap: 50px;
    width: 300px;
    opacity: 0.8;
    display: flex;
    flex-direction: column  ;
      justify-content: center;
    align-items: center;
    padding-left: 300px;
}
.signing input{
    width: 400px;
    height: 60px;
    border-radius: 45px;
    padding: 10px;
    background-color: rgb(61, 48, 48);
    color: white;
    font-size: 19px ;
    border-color: #B20710;
}
.sign_button {
     width: 400px;
      height: 60px;
     border-radius: 45px;
     margin-top: 50px;
     margin-left: 100px;
     background-color: #B20710;
     color: white;
     font-size: 19px;
     font-weight: 700 ;
     border-color: rgb(172, 167, 167)   ;
     font-family:"ITC Benguiat Bold Condensed";
}
.remember_me{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 120px;
    padding-top: 50px;
    font-size: 18px;
    color: white;
      font-family:"ITC Benguiat Bold Condensed";
}
.remember_me a{
    padding-left: 130px;
    color: white;
    text-decoration: none;
}
.remember_me a:hover{
    text-decoration: underline;
}
.new_to_netflex{
    text-align: center;
    color: #B20710;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 28px;
      font-family:"ITC Benguiat Bold Condensed";
}
.new_to_netflex  a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
 .new_to_netflex a:hover{
    text-decoration: underline;
}